@charset "utf-8";
/* Common */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
html,body,input,textarea,select,button,table{font-family:'나눔고딕',NanumGothic,'돋움',Dotum,AppleGothic,sans-serif}
img,fieldset{border:0}
html, body {height: 100%}
ul,ol{list-style:none}
em,address{font-style:normal}
a{text-decoration:none;}
a:hover,a:active,a:focus{text-decoration:underline}
.blind{
	position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
	font-size: 1px;
  overflow: hidden;
	color: transparent;
}
.whopper {
	position: relative;
	min-width: 100%;
	min-height: 100%;
	white-space: nowrap;
	line-height: 0;
	font-size: 0;
}
/*
색상표
*/
nav {
	overflow-y: auto;
	position: absolute;
	top:0;
	left: 0;
	width: 20%;
	min-height: 100%;
	height: 100%;
	vertical-align: top;
	background-color: #4a4a4a;
}
nav aside li:hover,
nav aside li button:focus {
	background-color: #424242;
}
nav aside li button{
	width: 100%;
	height: 100%;
	padding:10px 0 10px 10px;
	font-size: 20px;
	line-height: 1;
	-webkit-appearance: normal;
	-moz-appearance: normal;
	appearance: normal;
	border: 0;
	background-color: transparent;
	color: #fff;
}

.contain {
	display: inline-block;
	margin-left: 20%;
	width: 80%;
	min-height: 100%;
	background-color: #f6f6f6;
}

.add_input div {
	margin-bottom: 20px;
}
.add_input label {
	display: inline-block;
	min-width: 20px;
	padding-left: 20px;
	margin-right: 10px;
	font-size: 15px;
	line-height: 16px;
}